* {
    box-sizing: border-box;
}

.input {
    width: 120%;
    margin-top: 20px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background: rgb(207, 204, 204);
}

.body_SignUpForm {
    margin: 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: rgb(207, 204, 204);
}

header {
    text-align: justify;
    letter-spacing: 1px;
    height: 8em;
    padding: 2em 10%;
    background: rgb(242, 193, 100);
    color: #fff;
    display: flex;
}

h1{
    color: black;
    margin-left: 3rem;
    text-decoration: underline;
}

ul{
    list-style-type: none;
    padding: 0%;
    margin: 0.5rem;
}