.section-park {
  position: absolute;
  width: 770px;
  height: 454px;
  left: 64px;
  top: 261px;
  border: 6px solid black;
  border-radius: 10px;
  background: rgb(248, 212, 143);
  overflow-y: scroll;
}
